# Ignore node_modules
node_modules

# Ignore build artifacts
dist

# Ignore logs
logs
*.log

# Ignore environment-specific files
.env
.env.*

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore configuration files
ormconfig.ts
ormconfig.js

# Ignore test files
*.test.ts
*.spec.ts

# Ignore IDE and OS-specific files
.idea
.vscode
*.swp
*.swo
*.DS_Store

# Ignore temporary files
*.tmp
*.bak

# Ignore documentation files
README.md
docs

# Ignore git-related files
.git
.gitignore

# Ignore npm-debug.log files
npm-debug.log*

# Ignore coverage reports
coverage
